/* ----------   Hn P et BODY MAIN ----------*/

* {
    font-family: Raleway;
}

h1,
h2 {
    font-size: 22px;
}

h2 {
    margin-bottom: 30px;
}

h2,
h3 {
    font-weight: 700;
}


h3,
p {
    line-height: 19px;
    font-size: 16px;
}

p {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: #000;
}

body {
    max-width: 1400px;
    padding: 0 55px 0 55px;
    margin: 0 auto 0 auto;
    background-color: #FFF;
}

/* ----------   HEADER  ----------*/

header {
    display: flex;
    justify-content: space-between;
}


#img-logo {
    margin-top: 44px;
    margin-bottom: 63px;
    width: 61.09px;
    height: 19px;
}

.menu {
    display: flex;
    margin-top: 0px;
    margin-left: 22px;
}

.menu li {
    list-style-type: none;
    padding: 46px 0;
    width: 162px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    border-top: 2px #fff solid;
}

.menu li a {
    padding: 46px 0 0 0;
    width: 100%;
}

.menu li a:hover,
.menu li a:active {
    color: #0065FC;
    font-weight: 500;
}

.menu li a:hover::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    border-top: 2px solid #0065FC;
    width: 162px;
}

/* ----------   RECHERCHE  ----------*/

.research-bar {
    display: flex;
    align-items: center;
}

.research-logo {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 47px;
    height: 47px;
    z-index: 2;
}

.research-logo .fa-solid {
    margin: 16px 18px 15px 18px;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 18px;
}

.research-form-container {
    width: 100%;
}

form {
    display: flex;
    align-items: center;
}

.research-input {
    font-weight: 700;
    font-size: 18px;
    width: 332px;
    height: 48px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    position: relative;
    left: -49px;
    z-index: 1;
    padding-left: 66px;
}

.research-input:focus {
    border-color: #0065FC;
    outline: none;

}

.research-input::placeholder {
    color: black;
    opacity: 1;
    /* FIREFOX opcity à 10% par défaut */
}

.research-input:focus::placeholder {
    opacity: 0%;
    /* PLACEHOLDER INVISIBLE QUAND FOCUSED */
}

.research-button {
    font-weight: 700;
    font-size: 18px;
    width: 132px;
    height: 50px;
    border: 1px solid #F2F2F2;
    border-radius: 0 15px 15px 0;
    text-align: center;
    background-color: #0065FC;
    color: #FFFFFF;
    z-index: 3;
    position: relative;
    left: -100px;
}

.research-button i {
    display: none;
}

/* ----------   FILTRES  ----------*/

.filter-container {
    margin-top: 31px;
    display: flex;
    align-items: center;
    width: 100%;
}

.filter-head {
    margin-right: 2%;
}

.filter-head p {
    font-size: 18px;
    font-weight: 700;
    margin-left: 7px;
}

.filter-buttons-container {
    display: flex;
    width: 100%;
}

.filter-buttons-container button {
    display: flex;
    align-items: center;
    height: 48px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    background-color: #fff;
    padding: 0 2% 0 2%;
    font-size: 16px;
    font-weight: 700;
    margin-right: 4%;
    overflow: hidden;
}

.filter-buttons-container button:hover {
    background-color: #DEEBFF;
}

.filter-buttons-container i {
    color: #0065FC;
    font-size: 20px;
}

.filter-buttons-container button span {
    padding-left: 10px;
}

/* ----------   INFORMATIONS  ----------*/
.info-bar {
    margin-top: 28px;
    display: flex;
    align-items: center;
}

.info-icon {
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
}

.info-icon i {
    padding: 10px 10px 10px 10px;
    color: #0065FC;
    font-size: 12px;

}

/* ----------   CONTENEUR HÉBERGEMENT ET POPULAIRE  ----------*/
.hebergement-populaire-container {
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
    gap: 3%;
}

/* ----------   SECTION HÉBERGEMENT  ----------*/
#section-hebergements,
.section-populaire {
    background-color: #F2F2F2;
    border-radius: 20px;
}

#section-hebergements {
    width: 60%;
    padding: 37px;
}

/* ----------   LISTE HÉBERGEMENT  ----------*/
.list-hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 81%;
    align-items: center;
    align-content: flex-start;
}

/* ----------   CARDS HÉBERGEMENT  ----------*/
.card-hebergement {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 29%;
    height: 41%;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 15px 0px #0000001A;
    border: 5px solid #FFF;
    margin-bottom: 4%;
}

.card-hebergement img {

    height: 124px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
}

.card-hebergement-info {
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.8vw;
    height: 34%;
}

.card-hebergement-info>* {
    margin: 0;
    padding: 0;
}

.card-hebergement-info p {
    font-size: 14px;
}

/* ----------   ETOILES  ----------*/
.stars-rate-container .fa-solid {
    color: #0065FC;
    font-size: 14px;
}

.stars-rate-container :nth-child(5) {
    color: #F2F2F2;
}

.stars-rate-container {
    display: flex;
}

/* ----------   AFFICHER PLUS  ----------*/
.more {
    display: inline-block;
    height: 10%;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

/* ----------   SECTION POPULAIRE  ----------*/
.section-populaire {
    width: 26%;
    padding: 37px;
}

.section-populaire-head {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

.section-populaire-head i {
    font-size: 20px;
    color: #0065FC;
}

/* ----------   LISTE POPULAIRE  ----------*/
.list-populaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 88%;
}

/* ----------   CARDS POPULAIRE  ----------*/
.card-populaire {
    display: flex;
    border: 5px solid #FFF;
    width: 100%;
    height: 144px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.card-populaire:nth-child(1),
.card-populaire:nth-child(2) {
    margin-bottom: 30px;
}

.card-populaire a {
    display: flex;
}

.card-populaire a img {
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    max-width: 100%;
    width: 38%;
}

.card-populaire-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 6%;
    padding-bottom: 2%;
    width: 50%;
}

.card-populaire-info-text {
    height: 80%;
}

.card-populaire-info-text>* {
    margin: 8px 0 0 0;
    padding: 0;
}

.card-populaire-info-text p {
    font-size: 14px;
}

.card-populaire-info div {
    margin-right: 10px;
}

/* ----------  LISTE ACTIVITÉS  ----------*/
#list-activites {
    display: flex;
    justify-content: space-between;
    height: 31vw;
}

#list-activites :nth-child(3) {
    filter: brightness(1.3);
}

#section-activites {
    margin-top: 60px;
    height: 34vw;
}

/* ----------  CARDS ACTIVITÉS  ----------*/
.card-activite {
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    width: 22%;
}

.card-activite img {
    overflow: hidden;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    max-width: 100%;
}

.card-activite a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-activite a h3 {
    margin-left: 19px;
}

.text-container-activite {
    height: 56px;
    display: flex;
    align-items: center;
}

/* ----------  FOOTER  ----------*/
footer {
    background-color: #F2F2F2;
    height: 225px;
    margin-top: 7vw;
    display: flex;
    padding: 45px 70px 0 70px;
    justify-content: space-between;

}

.footer_section {
    width: 30%;
}

.footer_section p {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;

}

.footer_section ul {
    list-style-type: none;
    padding-left: 0;
}

.footer_section ul li {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

/**************************************/
/********* AFFICHAGE TABLETTE *********/
/**************** 992PX ***************/

@media screen and (max-width:992px) {

    body {
        padding: 0 6% 0 6%;
    }

    h2 {
        margin-top: 0;
    }

    /* ----------  FILTRE  ----------*/
    .filter-container {
        justify-content: flex-start;
    }

    .filter-buttons-container button {
        margin-right: 2%;
    }

    .filter-buttons-container button span {
        padding-left: 7px;
    }

    /* ----------  HEBERGEMENTS  ----------*/
    .hebergement-populaire-container {
        margin: 39px auto 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    #section-hebergements {
        width: 100%;
        padding: 37px;
        margin-bottom: 6%;
        height: 565px;
    }

    .card-hebergement {
        width: 29.5%;
    }

    .card-hebergement img {
        height: 114px;
    }

    .more {
        margin: 14px 0 0 0;
    }

    /* ----------  POPULAIRE  ----------*/
    .section-populaire {
        width: 100%;
        padding: 37px;
    }

    .list-populaire {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    .card-populaire {
        width: 30%;
    }

    .card-populaire:nth-child(1),
    .card-populaire:nth-child(2) {
        margin-bottom: 0px;
    }

    .card-populaire-info div {
        margin-right: 0;
    }

    .card-populaire-info-text p {
        font-size: 13px;
    }

    .card-populaire a img {
        width: 42%;
    }

    .card-populaire-info-text h3 {
        font-size: 14px;
    }

    /* ----------  ACTIVITES  ----------*/
    #list-activites {
        height: 27vw;
    }

    .card-activite {
        width: 21%;
    }

    /* ----------  FOOTER  ----------*/
    footer {
        margin-top: 6%;
    }

}

/***************************************/
/*********** AFFICHAGE MOBILE **********/
/**************** 768PX ****************/

@media screen and (max-width:768px) {

    body {
        padding: 0;
    }

    /* ----------  HEADER  ----------*/
    header {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #img-logo {
        margin-top: 21px;
        margin-bottom: 2px;
    }

    nav {
        width: 100%;
    }

    .menu {
        padding-left: 0;
        margin: 0;
    }

    .menu li {
        width: 100%;
        padding-bottom: 30px;
    }

    .menu li a::after {
        content: "";
        display: block;
        position: relative;
        top: 23px;
        border-top: 2px solid #F2F2F2;
        width: 100%;
    }

    .menu li a:hover::after {
        content: "";
        border-top: 2px solid #0065FC;
    }

    .menu li a:hover::before {
        content: "";
        display: none;
    }

    .main-head {
        padding: 0 5% 0 5%;
    }

    /* ----------  RECHERCHE  ----------*/
    .research-bar {
        margin: 28px 4% 0 4%;
    }

    .research-form-container {
        width: 100%;
    }

    form {
        display: flex;
        flex-direction: row;
    }

    .research-input {
        width: 90%;
        position: absolute;
        left: 4%;
    }

    .research-button span {
        display: none;
    }

    .research-button {
        width: 50px;
        position: absolute;
        right: 4%;
        left: initial;
    }

    .research-button i {
        display: initial;
    }

    /* ----------  FILTRES  ----------*/
    .filter-container {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }

    .filter-head {
        margin-left: 4%;
    }

    .filter-buttons-container {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .filter-buttons-container button {
        font-size: 11px;
        width: 43%;
        margin-bottom: 4%;
        padding: 0 0 0 13px;
        margin-right: 0;
    }

    .filter-buttons-container button span {
        text-align: left;
    }

    /* ----------  INFO BAR  ----------*/
    .info-bar {
        padding: 0 5%;
        margin: 20px 0;
    }

    /* ----------  POPULAIRE  ----------*/
    .hebergement-populaire-container {
        flex-direction: column-reverse;
        margin: 0;
        width: 100%;
    }

    .section-populaire {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0;
    }

    .section-populaire-head {
        width: 88%;
    }

    .section-populaire-head h2 {
        margin: 8% 0 8% 0;
    }

    .list-populaire {
        flex-direction: column;
        justify-content: space-between;
        height: 92%;
        width: 100%;
    }

    .card-populaire {
        width: 88%;
        margin-bottom: 40px;
    }

    .card-populaire:nth-child(1),
    .card-populaire:nth-child(2) {
        margin-bottom: 14px;
    }

    /* ----------  HEBERGEMENTS  ----------*/
    #section-hebergements {
        background-color: #FFF;
        height: initial;
        padding: 0;
        width: 88%;
    }

    #section-hebergements h2 {
        margin: 6% 0 6% 0;
    }

    .list-hebergements {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .card-hebergement {
        width: 100%;
    }

    .card-hebergement-info {
        margin-top: 1.5%;
        margin-bottom: 1.5%;
        margin-left: 12px;
    }

    .card-hebergement-info p {
        line-height: 26px;
    }

    .more {
        display: none;
    }

    /* ----------  ACTIVITES  ----------*/
    #section-activites {
        height: 920px;
        padding: 0 5% 0 5%;
    }

    #section-activites h2 {
        display: block;
        width: 40%;
        margin-bottom: 2%;
    }

    #list-activites {
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
    }

    .card-activite {
        width: 100%;
        height: 190px;
    }

    /* ----------  FOOTER  ----------*/
    footer {
        flex-direction: column;
        height: 100%;
        padding-bottom: 20%;
        margin-top: 15%;

    }

    .footer_section {
        width: initial;
    }
}